* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    z-index: -1; 
    background-color: black; 
}

.start {
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

}

#btn-start {
    padding: 15px 30px;
    font-size: 32px;
    border: 0;
    border-radius: 15px;
    font-weight: 400;
    background: linear-gradient(to right, rgb(48, 219, 71), rgb(14, 131, 43));
    cursor: pointer; 
    
}

#btn-start a {
    color: #FFFF;
    text-decoration: none;
    
}

button:hover{
    animation-name: btn-hover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes btn-hover{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }

}